body {
    --color-primary: #009579;
    --color-primary-dark: #007f67;
    --color-secondary: #252c6a;
    --color-error: #cc3333;
    --color-success: #4bb544;
    --border-radius: 4px;
    background-color:whitesmoke;
}
.up{
    font-size: 45px;
    background-color: #009579;
    text-align: center;
}
p.newcar{
    margin-left: 63px;
    font-size: 24px;
}
.input{
background: #009579;
    padding: 11px;
    font-size: 19px;
    font-weight: 800;
}
    .form{
    padding: 13px;
    background: #009579;
    margin-left: 59px;
}
.topnav a:hover {
    background-color: var(--color-primary);
    color:#8daa9f;
  }
  
#content{
    width: 50%;
    margin: 20px auto;
    border: 1px solid #cbcbcb;

}
form{
    width: 50%;
    margin: 20px auto;
}
form div{
    margin-top: 5px;
}
#img_div{
    width: 80%;
    padding: 5px;
    margin: 15px auto;
    border: 1px solid #cbcbcb;
}
#img_div:after{
    content: "";
    display: block;
    clear: both;
}
img {
        float: left;
        margin: 5px;
        width: 337px;
        height: 220px;
}
.topnav {
    background-color: var(--color-secondary);
    overflow: hidden;
  }
  .topnav a signout{
    margin-left: 450px;
  }
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 70px;
    text-decoration: none;
    font-size: 21px;
  }