body {
    --color-primary: #009579;
    --color-primary-dark: #007f67;
    --color-secondary: #252c6a;
    --color-error: #cc3333;
    --color-success: #4bb544;
    --border-radius: 4px;
    background-color:whitesmoke;
}
#searchbar{
  margin-left: 15%;
  padding:15px;
  border-radius: 10px;
}

input[type=text] {
   width: 30%;
   -webkit-transition: width 0.15s ease-in-out;
   transition: width 0.15s ease-in-out;
}

/* When the input field gets focus,
     change its width to 100% */
input[type=text]:focus {
  width: 70%;
}
/* 
#list{
 font-size:  1.5em;
 margin-left: 90px;
} */

/* .animals{
display: list-item;    
}  */
/* .img{
    <img src: url(car.jpg))>

} */
button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align:center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #4CAF50

  }

button:visited { color: #cc3333; }

.details{
    /* width: 500px; */
    width:300px;
}
/* .container{
    width: 200px;
    height: 200px;
} */
.topnav {
    background-color: var(--color-secondary);
    overflow: hidden;
  }
  .topnav a signout{
    margin-left: 450px;
  }
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 70px;
    text-decoration: none;
    font-size: 21px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: var(--color-primary);
    color:#8daa9f;
  }
  .container1{
      /* position:relative; */
      right: 30%;
      top: 0%;
  }
  .container2{
    height: 100%;
      position: absolute;
      right:37.5%;
      top: 9.5%;
  }
  .container3{
    position: absolute;
    right: 5%;
    top:9.5%;

  }
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #456e5f;
    color: white;
  }
  .container4{
    position: absolute;
    right:37.5%;
    top: 91.56%;
}
.container5{
  position: absolute;
  right:5.5%;
  top: 91.56%;
}